Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-push:
  jobs:
    - name: check chezmoi diff
      run: |
        diff_output=$(chezmoi diff --no-pager)
        if [ -n "$diff_output" ]; then
          echo "$diff_output"
          echo ""
          echo "❌ Error: There are unapplied chezmoi changes. Please run 'chezmoi apply' first."
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    prettier-check:
      glob: "*.{json,yml,yaml,md}"
      run: npx prettier --check {staged_files}
    shfmt-check:
      glob: "*.{sh,zsh,bash}"
      run: shfmt -d -i 2 {staged_files}
    shellcheck:
      glob: "*.{sh,zsh,bash}"
      run: shellcheck {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

Add concurrently for parallel formatter execution
  package-lock.json
  package.json
Due: prettier-check

Refactor lefthook to use npm scripts
  lefthook.yml
  package.json
Due: prettier-check

Update Node version to 24.11.1 LTS
  .node-version
  package-lock.json
  package.json
Due: prettier-check

Add Ctrl+G keybind for keyword search with fzf and preview
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

Add Alt+C directory search with preview
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

chore submodule recurve
  home/dot_gitconfig.tmpl
Due: none

add local zsh config
  .gitignore
  home/dot_zshrc
Due: none

fix fzf ctrl + T preview
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

add `gh pr view -w` alias
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

Fix keyword search preview highlighting and scrolling
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

handle missing .local.zsh file
  home/dot_zshrc
Due: none

Enhance fzf with dynamic search and advanced features
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

Add VSCode format on save configuration
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Due: prettier-check

Implement fzf key bindings as widget functions
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

add CLAUDE.md(user memory)
  home/dot_claude/CLAUDE.md
Due: prettier-check

Alt+Cのpreview表示をezaのツリー形式に変更
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

remove quick terminal from ghostty
  home/dot_config/ghostty/config
Due: none

fast-syntax-highlightingのdefer設定を削除して動作を修正
  home/dot_config/sheldon/plugins.toml
Due: none

add zellij color theme
  home/dot_config/zellij/config.kdl
Due: none

add nyatinte silhouette
  home/dot_config/ghostty/assets/nyatinte.png
  home/dot_config/ghostty/config
Due: none

add `gh repo view --web` alias
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

enable left Option key as Alt in ghostty
  home/dot_config/ghostty/config
Due: none
