Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-push:
  jobs:
    - name: check chezmoi diff
      run: |
        diff_output=$(chezmoi diff --no-pager)
        if [ -n "$diff_output" ]; then
          echo "$diff_output"
          echo ""
          echo "❌ Error: There are unapplied chezmoi changes. Please run 'chezmoi apply' first."
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    prettier-check:
      glob: "*.{json,yml,yaml,md}"
      run: npm run lint:prettier -- {staged_files}
    shfmt-check:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shfmt -- {staged_files}
    shellcheck:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

refactor: 通知フックの共通処理を統合
  home/dot_claude/hooks/executable_notify.sh
Due: shfmt-check, shellcheck

feat: VOICEVOXずんだもん音声通知システムを追加
  home/dot_claude/settings.json
  home/executable_speak.sh
  home/executable_zunda_hook.sh
Due: prettier-check, shfmt-check, shellcheck

chore: git-commit skill に auto mode を追加
  home/dot_claude/skills/git-commit/SKILL.md
Due: prettier-check

feat: globalでtextlintを使えるように設定 (#13)
  home/.chezmoiscripts/run_once_install-global-markdownlint.sh
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_markdownlint.json
  home/dot_textlintrc.json
Due: prettier-check, shfmt-check, shellcheck

feat: Add Raycast script for markdown linting
  home/dot_config/raycast/scripts/executable_markdown-lint-fix.sh
Due: shfmt-check, shellcheck

feat(git-commit): add diff size check before commit with simplify trigger
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/git-commit/scripts/executable_summarize-uncommitted-diff.sh
Due: prettier-check, shfmt-check, shellcheck

feat: PRサイズチェックをgit-commitからcreate-draft-pull-requestスキルに移動
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_summarize-pr-diff.sh
  home/dot_claude/skills/git-commit/SKILL.md
Due: prettier-check, shfmt-check, shellcheck

fix: ccエイリアスをclaに変更
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

fix: ccエイリアスをclaに変更 (#15)
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

Replace all aliases with zsh-abbr abbreviations
  home/dot_config/sheldon/plugins.toml
  home/dot_zsh.d/abbr.zsh
Due: shfmt-check, shellcheck

replace alias → abbr in zsh entry file
  home/dot_zshrc
Due: none

fix: Move abbr.zsh sourcing after sheldon to fix zsh-abbr initialization
  home/dot_zshrc
Due: none

refactor: Move abbreviations to chezmoi-managed file
  home/dot_config/zsh-abbr/user-abbreviations
  home/dot_zsh.d/utils.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

chore: Remove zsh-you-should-use plugin from sheldon
  home/dot_config/sheldon/plugins.toml
Due: none

feat: Add fast-abbr-highlighting for abbr syntax highlighting
  home/dot_config/sheldon/plugins.toml
Due: none

fix: rename Claude abbreviations to cl/cl-yolo
  home/dot_config/zsh-abbr/user-abbreviations
Due: none

refactor: move zsh-abbr storage under zsh config
  home/dot_zsh.d/abbr.zsh
  home/dot_zsh.d/abbreviations
  home/dot_zshrc
Due: shfmt-check, shellcheck

refactor: configure zsh-abbr from sheldon hooks
  home/dot_config/sheldon/plugins.toml
  home/dot_zsh.d/abbr.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

feat: reload zsh-abbr after chezmoi apply
  home/.chezmoiscripts/run_after_load-zsh-abbr.sh
Due: shfmt-check, shellcheck

fix: register zsh-abbr reload as chezmoi hook
  .chezmoiscripts/run_after_load-zsh-abbr.sh
Due: shfmt-check, shellcheck

refactor: remove redundant zsh-abbr apply hook
  .chezmoiscripts/run_after_load-zsh-abbr.sh
Due: shfmt-check, shellcheck

Replace all aliases with zsh-abbr abbreviations (#16)
  home/dot_config/sheldon/plugins.toml
  home/dot_zsh.d/abbreviations
  home/dot_zsh.d/utils.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

perf(zsh): defer redundant startup initialization to shorten shell startup
  home/dot_config/sheldon/plugins.toml
  home/dot_zsh.d/dev-tools.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

fix(zsh): stop helpers after failed directory changes
  home/dot_zsh.d/fzf.zsh
  home/dot_zsh.d/utils.zsh
Due: shfmt-check, shellcheck

refactor(zsh): remove the unused gwn helper
  home/dot_zsh.d/utils.zsh
Due: shfmt-check, shellcheck

refactor(zellij): remove the unused project-launch shortcut
  home/dot_config/zellij/config.kdl
  home/scripts/executable_zellij-new-branch-tab.sh
Due: shfmt-check, shellcheck

fix: suppress Docker Desktop init error when not installed
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

fix: suppress Docker Desktop init error when not installed (#18)
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

Add reload alias using exec $SHELL -l
  home/dot_zsh.d/utils.zsh
Due: shfmt-check, shellcheck

perf(zsh): bash起動パフォーマンスを改善
  home/dot_config/sheldon/plugins.toml
  home/dot_zsh.d/dev-tools.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

perf(starship): nodejs bottleneck を修正 (6ms → <1ms)
  home/dot_config/starship.toml
Due: none

fix(perf): zsh interactive
  home/dot_zshrc
Due: none
