Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-push:
  jobs:
    - name: check chezmoi diff
      run: |
        diff_output=$(chezmoi diff --no-pager)
        if [ -n "$diff_output" ]; then
          echo "$diff_output"
          echo ""
          echo "❌ Error: There are unapplied chezmoi changes. Please run 'chezmoi apply' first."
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    prettier-check:
      glob: "*.{json,yml,yaml,md}"
      run: npm run lint:prettier -- {staged_files}
    shfmt-check:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shfmt -- {staged_files}
    shellcheck:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

fix(create-draft-pull-request): allowed-tools パスパターンを修正
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
Due: prettier-check

refactor(skills): スクリプトパスを \$CLAUDE_SKILL_DIR に統一
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/review-pr/SKILL.md
Due: prettier-check

fix(review-pr): スクリプトを fix-review から自スキルにコピー
  home/dot_claude/skills/review-pr/SKILL.md
  home/dot_claude/skills/review-pr/scripts/executable_get-review-threads.sh
Due: prettier-check, shfmt-check, shellcheck

fix(skills): \$CLAUDE_SKILL_DIR を \${CLAUDE_SKILL_DIR} に修正
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/review-pr/SKILL.md
Due: prettier-check

fix(skills): Bash ボディ手順に bash プレフィックス追加・sh パターン削除
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/review-pr/SKILL.md
Due: prettier-check

fix(skills): allowed-tools パターン修正と ${CLAUDE_SKILL_DIR} への統一 (#37)
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/review-pr/SKILL.md
  home/dot_claude/skills/review-pr/scripts/executable_get-review-threads.sh
Due: prettier-check, shfmt-check, shellcheck

feat(zoxide): --cmd cd で cd コマンドを置き換え
  home/dot_config/sheldon/plugins.toml
Due: none

feat: add secretlint to prevent secrets from being committed
  .secretlintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier-check

chore: pin secretlint versions
  package.json
Due: prettier-check

feat: add secretlint to prevent secrets from being committed (#39)
  .secretlintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier-check

migrate CLI tools from Homebrew to mise
  home/dot_Brewfile
  home/dot_config/mise/config.toml
Due: none

add section comments to mise config
  home/dot_config/mise/config.toml
Due: none

migrate CLI tools from Homebrew to mise (#40)
  home/dot_Brewfile
  home/dot_config/mise/config.toml
Due: none

docs(pr-skill): PR本文に実装詳細ではなく外部から見た振る舞いの変化を書くよう明示
  home/dot_claude/skills/create-draft-pull-request/pull-request-message.md
Due: prettier-check

docs(pr-skill): PR本文に実装詳細ではなく外部から見た振る舞いの変化を書くよう明示 (#41)
  home/dot_claude/skills/create-draft-pull-request/pull-request-message.md
Due: prettier-check

feat: add Zed and VSCode configs
  home/dot_config/zed/keymap.json
  home/dot_config/zed/private_settings.json
  home/private_Library/private_Application Support/private_Code/User/keybindings.json
  home/private_Library/private_Application Support/private_Code/User/settings.json
Due: prettier-check

feat(zoxide): --cmd cd で cd コマンドを置き換え (#38)
  home/dot_config/sheldon/plugins.toml
Due: none

fix(zsh): mise管理ツールのzsh補完を自動シンボリックリンクで解決
  home/dot_zsh.d/tools/mise.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

feat(zsh): carapace を導入してシェル補完を統合
  home/dot_config/mise/config.toml
  home/dot_config/sheldon/plugins.toml
Due: none

Add opencode abbr (oc)
  home/dot_zsh.d/abbreviations
Due: none

fix(zsh): fzf-tabをsheldon外から直接sourceしてロック競合を回避
  home/dot_zshrc
Due: none

feat(zsh): fzf-tabをsheldon経由で管理するよう戻す
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc
Due: none

chore(git): HTTPS→SSH書き換え設定を削除
  home/dot_gitconfig.tmpl
Due: none

chore(zsh): zsh-git-fzf を削除
  home/dot_config/sheldon/plugins.toml
Due: none

config: add ghq via mise with gitconfig setup
  home/dot_config/mise/config.toml
  home/dot_gitconfig.tmpl
Due: none

feat(zsh): add repo function for ghq+fzf directory jumping
  home/dot_zsh.d/functions/ghq.zsh
Due: shfmt-check, shellcheck

add glow
  home/dot_config/mise/config.toml
Due: none

Update ghq.zsh
  home/dot_zsh.d/functions/ghq.zsh
Due: shfmt-check, shellcheck

perf(zsh): defer zoxide init to reduce shell startup time
  home/dot_config/sheldon/plugins.toml
Due: none

update pnpm 11
  package.json
  pnpm-lock.yaml
Due: prettier-check

feat(zsh): switch repo preview to glow with tokyo-night theme
  home/dot_zsh.d/functions/ghq.zsh
Due: shfmt-check, shellcheck

Add mr abbreviation for mise run
  home/dot_zsh.d/abbreviations
Due: none

Add mr abbreviation for mise run (#43)
  home/dot_zsh.d/abbreviations
Due: none

feat(claude): switch statusline to ccline with configs
  home/dot_claude/ccline/config.toml
  home/dot_claude/ccline/models.toml
  home/dot_claude/ccline/themes/cometix.toml
  home/dot_claude/ccline/themes/default.toml
  home/dot_claude/ccline/themes/gruvbox.toml
  home/dot_claude/ccline/themes/minimal.toml
  home/dot_claude/ccline/themes/nord.toml
  home/dot_claude/ccline/themes/powerline-dark.toml
  home/dot_claude/ccline/themes/powerline-light.toml
  home/dot_claude/ccline/themes/powerline-rose-pine.toml
  home/dot_claude/ccline/themes/powerline-tokyo-night.toml
  home/dot_claude/settings.example.json
Due: prettier-check

feat(lazygit): template GH_HOST support for GitHub Enterprise
  home/dot_config/lazygit/config.yml.tmpl
Due: none

feat: add chza abbreviation for chezmoi apply
  home/dot_zsh.d/abbreviations
Due: none

chore(starship): remove unused modules and tune timeout (#19)
  home/dot_config/starship.toml
Due: none

Load Vite+ environment in dev-tools.zsh
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

abbr `vr`: `vp run`
  home/dot_zsh.d/abbreviations
Due: none

fix skills
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/create-draft-pull-request/assets/.textlintrc
  home/dot_claude/skills/create-draft-pull-request/scripts/analyze-pr-context.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/create-pr.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_fix-textlint.sh
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pull-request-review/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
Due: prettier-check, shfmt-check, shellcheck
