Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

prettier-check:
  run: npm run lint:prettier -- {staged_files}

shfmt-check:
  run: npm run lint:shfmt -- {staged_files}

shellcheck:
  run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

chore: update lazygit configuration for improved side-by-side diff display and set editor environment variable
  home/dot_config/lazygit/config.yml
  home/dot_gitconfig.tmpl
  home/dot_zsh.d/dev-tools.zsh
Due: prettier-check, shfmt-check, shellcheck

feat: globalでtextlintを使えるように設定
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_textlintrc.json
Due: prettier-check, shfmt-check, shellcheck

feat: textlintにAI文書ルール追加、markdownlintをグローバル設定
  home/.chezmoiscripts/run_once_install-global-markdownlint.sh
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_markdownlint.json
  home/dot_textlintrc.json
Due: prettier-check, shfmt-check, shellcheck

Add textlint-rule-terminology for tech term spelling
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_textlintrc.json
Due: prettier-check, shfmt-check, shellcheck

Add ja-space-between-half-and-full-width rule for alphabet spacing
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_textlintrc.json
Due: prettier-check, shfmt-check, shellcheck

feat(ghostty): add unfocused-split-opacity setting
  home/dot_config/ghostty/config
Due: none

feat(ghostty): add unfocused-split-opacity setting (#14)
  home/dot_config/ghostty/config
Due: none

feat(aliases): add chz alias for chezmoi
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

feat: switch default GUI editor from zed to cursor
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

feat(ccstatusline): add underline style to repo URL
  home/dot_config/ccstatusline/executable_repo-url.sh
Due: shfmt-check, shellcheck

fix(aliases): remove safe-rm alias to use native rm
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

fix(ghostty): lower focused opacity to 0.7
  home/dot_config/ghostty/config
Due: none

feat(zsh): add .zshenv with LANG=ja_JP.UTF-8
  home/dot_zshenv
Due: none

update gitconfig
  home/dot_gitconfig.tmpl
Due: none

add skills
  home/dot_claude/commands/commit-push-pr.md
  home/dot_claude/commands/commit.md
  home/dot_claude/commands/create-pr.md
  home/dot_claude/commands/draft-pr.md
  home/dot_claude/commands/resolve-conflict.md
  home/dot_claude/commands/resolve-review.md
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/create-draft-pull-request/pull-request-message.md
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_check-branch.sh
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/document-writing/assets/.textlintrc
  home/dot_claude/skills/document-writing/scripts/executable_check_document.sh
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/git-commit/commit-message.md
  home/dot_claude/skills/git-commit/scripts/analyze-git-diff.sh
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pr-review-handler/references/github_api.md
  home/dot_claude/skills/pr-review-handler/references/workflow.md
  home/dot_claude/skills/pr-review-handler/scripts/executable_get-reviews.sh
  home/dot_claude/skills/pr-review-handler/scripts/get_unresolved_reviews.sh
  home/dot_claude/skills/pr-review-handler/scripts/resolve_thread.sh
  home/dot_claude/skills/pull-request-review/SKILL.md
  home/dot_claude/skills/pull-request-review/review-guidelines.md
  home/dot_claude/skills/pull-request-review/scripts/executable_get-reviews.sh
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/resolve-conflict/scripts/analyze-conflict.sh
Due: prettier-check, shfmt-check, shellcheck

update ccstatusline
  home/dot_config/ccstatusline/settings.json
Due: prettier-check

update lazygit pager
  home/dot_config/lazygit/config.yml
Due: prettier-check

remove CLAUDE.md
  home/dot_claude/CLAUDE.md
Due: prettier-check

Add notify-after function for command notifications
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

add my claude hooks
  home/dot_claude/hooks/executable_notify.sh
  home/dot_claude/hooks/executable_skill-forced-eval-hook.sh
Due: shfmt-check, shellcheck

add compact hooks from ECC
  home/dot_claude/hooks/executable_pre-compact.js
  home/dot_claude/hooks/executable_suggest-compact.js
  home/dot_claude/settings.example.json
  home/dot_claude/skills/strategic-compact/SKILL.md
Due: prettier-check

chore: update hooks with raycast confetti notification
  home/dot_claude/hooks/executable_notify.sh
Due: shfmt-check, shellcheck

fix completion
  home/dot_zsh.d/completions/_gh
  home/dot_zsh.d/dev-tools.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

add chezmoi skill from <https://github.com/cosgroveb/chezmoi-skill>
  .claude/skills/chezmoi/SKILL.md
Due: prettier-check

Path conditions:
  prettier-check: any of: *.{json,yml,yaml,md}
  shfmt-check: any of: *.{sh,zsh,bash}
  shellcheck: any of: *.{sh,zsh,bash}
