Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

prettier-check:
  run: npm run lint:prettier -- {staged_files}

shfmt-check:
  run: npm run lint:shfmt -- {staged_files}

shellcheck:
  run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

feat(herdr): manage herdr config with chezmoi
  home/dot_config/herdr/config.toml
Due: none

fix(zsh,claude): 実機との乖離を解消
  home/dot_claude/hooks/executable_skill-forced-eval-hook.sh
  home/dot_config/raycast/scripts/executable_markdown-lint-fix.sh
  home/dot_zsh.d/abbreviations
  home/dot_zsh.d/core/path.zsh
Due: shfmt-check, shellcheck

feat(chezmoi): 未管理だった設定を追加 (opencode/zed/zshenv)
  home/.chezmoiignore
  home/dot_config/opencode/AGENT.md
  home/dot_config/opencode/opencode.jsonc
  home/dot_config/opencode/skills/loop-engineering/SKILL.md
  home/dot_config/zed/keymap.json
  home/dot_config/zed/settings.json
  home/dot_zprofile
  home/dot_zshenv
Due: prettier-check

chore(claude,chezmoi): settings.json を管理し旧exampleを撤去
  home/.chezmoiremove
  home/dot_claude/settings.example.json
  home/dot_claude/settings.json
Due: prettier-check

fix(tools): 実機のツール実態に合わせて設定を修正
  .node-version
  home/dot_Brewfile
  home/dot_config/mise/config.toml
  home/dot_gitconfig.tmpl
  home/dot_zsh.d/.chezmoiremove
  home/dot_zsh.d/abbreviations
  home/dot_zsh.d/completions/_git-gtr
  home/dot_zsh.d/core/env.zsh
  home/dot_zsh.d/core/path.zsh
  home/dot_zsh.d/functions/git.zsh
  home/dot_zsh.d/functions/notify.zsh
  home/dot_zsh.d/tools/.chezmoiremove
  home/dot_zsh.d/tools/docker.zsh
  home/scripts/executable_zellij-new-branch-tab.sh
  package.json
  pnpm-workspace.yaml
Due: prettier-check, shfmt-check, shellcheck

docs(agents): AGENTS.md をリポジトリ実態に合わせて刷新
  AGENTS.md
Due: prettier-check

chore(chezmoi): 不要な raycast スクリプトを削除対象に追加
  home/.chezmoiremove
Due: none

fix(zsh,skills): docker撤去に追従し .zshrc の source 行を削除 / lock 更新
  home/dot_agents/dot_skill-lock.json
  home/dot_zshrc
Due: prettier-check

chore(skills): lock の末尾改行を正規化
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

feat(skills): スキル4種を追加し write-a-skill を writing-for-agents へ移行
  .agents/skills/managing-skills
  .claude/skills/managing-skills/SKILL.md
  AGENTS.md
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

fix(claude): 秘密ファイルの deny を home 基準に再設計
  docs/glossary.md
  home/dot_claude/settings.json
Due: prettier-check

fix(tools): pnpm を mise 管理に戻し corepack を破壊
  home/.chezmoiscripts/run_once_install-global-markdownlint.sh
  home/dot_config/mise/config.toml
  pnpm-workspace.yaml
Due: prettier-check, shfmt-check, shellcheck

feat(orca): keybindings.json を chezmoi 管理化
  home/dot_orca/keybindings.json
Due: prettier-check

chore(claude): 旧フック・実験フラグ・model指定を削除
  home/.chezmoiremove
  home/dot_claude/hooks/executable_notify.sh
  home/dot_claude/hooks/executable_suggest-compact.js
  home/dot_claude/settings.json
Due: prettier-check, shfmt-check, shellcheck

chore(skills): HyperFrames スキル一式をグローバルに追加
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

chore(skills): エージェントから skills へのアクセスを許可
  home/dot_claude/settings.json
  home/dot_config/opencode/opencode.jsonc
Due: prettier-check

chore(opencode): スキルの読み込み方針を明確化
  home/dot_config/opencode/AGENT.md
Due: prettier-check

chore(opencode): 簡潔さの固定指示を削除
  home/dot_config/opencode/AGENT.md
Due: prettier-check

chore(skills): add Archify skills
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

chore: sync global skill lock
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

chore: configure Lightpanda browser engine
  home/dot_Brewfile
  home/dot_zsh.d/core/env.zsh
Due: shfmt-check, shellcheck

chore(skills): refresh global skill lock
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

chore(skills): normalize lockfile newline
  home/dot_agents/dot_skill-lock.json
Due: prettier-check

feat(skills): add GitHub media attachment skill
  .agents/skills/gh-attach
  .claude/skills/gh-attach/SKILL.md
Due: prettier-check

feat(zsh): add Japanese pi abbreviation
  home/dot_zsh.d/abbreviations
Due: none

Path conditions:
  prettier-check: any of: *.{json,yml,yaml,md}
  shfmt-check: any of: *.{sh,zsh,bash}
  shellcheck: any of: *.{sh,zsh,bash}
