Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-push:
  jobs:
    - name: check chezmoi diff
      run: |
        diff_output=$(chezmoi diff --no-pager)
        if [ -n "$diff_output" ]; then
          echo "$diff_output"
          echo ""
          echo "❌ Error: There are unapplied chezmoi changes. Please run 'chezmoi apply' first."
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    prettier-check:
      glob: "*.{json,yml,yaml,md}"
      run: npm run lint:prettier -- {staged_files}
    shfmt-check:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shfmt -- {staged_files}
    shellcheck:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

fix: draft-prの無駄な既存ファイル確認処理を削除
  home/dot_claude/commands/draft-pr.md
Due: prettier-check

fix: create-pr内の冗長な確認プロセスを削除
  home/dot_claude/commands/create-pr.md
Due: prettier-check

feat: cpエイリアスを追加（git cherry-pick）
  home/dot_gitconfig.tmpl
Due: none

feat: lgコマンドの表示フォーマットを改善
  home/dot_gitconfig.tmpl
Due: none

feat: commit-push-prコマンドを追加
  home/dot_claude/commands/commit-push-pr.md
Due: prettier-check

feat: cc-yoloエイリアスを追加
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

perf: sheldon起動速度を最適化
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc
Due: none

fix: sheldonのキャッシュファイルパスを修正
  home/dot_zshrc
Due: none

refactor: sheldonの読み込みを公式の推奨方法に変更
  home/dot_zshrc
Due: none

Review Sheidon settings for startup performance (#12)
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc
Due: none

ignore PR.md
  home/dot_config/git/ignore
Due: none

refactor: PR説明の簡潔化ガイドラインを追加
  home/dot_claude/commands/commit-push-pr.md
Due: prettier-check

refactor: コミットメッセージの簡潔化ガイドラインを追加
  home/dot_claude/commands/commit.md
Due: prettier-check

refactor: PR説明の簡潔化ガイドラインを追加
  home/dot_claude/commands/draft-pr.md
Due: prettier-check

feat: zellijコマンドのエイリアスzjを追加
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

feat: Ghosttyにデスクトップ通知を有効化
  home/dot_config/ghostty/config
Due: none

feat: lazygitでside by side diff表示を有効化
  home/dot_config/lazygit/config.yml
Due: prettier-check

feat: ccstatuslineの設定をchezmoi管理に追加
  home/dot_config/ccstatusline/settings.json
Due: prettier-check

feat: ccstatuslineにリポジトリURL表示を追加
  home/dot_config/ccstatusline/executable_repo-url.sh
  home/dot_config/ccstatusline/settings.json
Due: prettier-check, shfmt-check, shellcheck

Add c. alias for default editor and update VISUAL to zed
  home/dot_zsh.d/aliases.zsh
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

chore: update terminal width
  home/dot_config/ccstatusline/settings.json
Due: prettier-check

chore: lg
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck
