Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-push:
  jobs:
    - name: check chezmoi diff
      run: |
        diff_output=$(chezmoi diff --no-pager)
        if [ -n "$diff_output" ]; then
          echo "$diff_output"
          echo ""
          echo "❌ Error: There are unapplied chezmoi changes. Please run 'chezmoi apply' first."
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    prettier-check:
      glob: "*.{json,yml,yaml,md}"
      run: npm run lint:prettier -- {staged_files}
    shfmt-check:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shfmt -- {staged_files}
    shellcheck:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

enable left Option key as Alt in ghostty
  home/dot_config/ghostty/config
Due: none

add global gitignore settings
  home/dot_config/git/ignore
Due: none

add zellij Alt+b keybinding for branch development environment
  home/dot_config/zellij/config.kdl
  home/scripts/executable_zellij-new-branch-tab.sh
Due: shfmt-check, shellcheck

add gtr config
  home/dot_config/git/ignore
  home/dot_gitconfig.tmpl
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

fix new-branch-tab action
  home/dot_config/zellij/config.kdl
  home/scripts/executable_zellij-new-branch-tab.sh
Due: shfmt-check, shellcheck

fix gwn command `gwt`→`git gtr`
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

use gtr.worktrees default config
  home/dot_gitconfig.tmpl
Due: none

add resolve-conflict command for semantic conflict resolution
  home/dot_claude/commands/resolve-conflict.md
Due: prettier-check

fix: draft-pr → create-prへの導線を追加
  home/dot_claude/commands/draft-pr.md
Due: prettier-check

fix: add Anti-Gravity path
  home/dot_zsh.d/path.zsh
Due: shfmt-check, shellcheck

fix: zellij新規タブの右パネルワーキングディレクトリを修正
  home/scripts/executable_zellij-new-branch-tab.sh
Due: shfmt-check, shellcheck

chore: create-pr時にはdraft-prでprの内容について確認が取れていると思うので修正
  home/dot_claude/commands/create-pr.md
Due: prettier-check

chore: change git editor from VS Code to Helix for faster rebase operations
  home/dot_gitconfig.tmpl
Due: none

feat: /resolve-review コマンドを追加
  home/dot_claude/commands/resolve-review.md
Due: prettier-check

fix: zellij新規タブ起動時にカレントディレクトリにcdしてから実行
  home/scripts/executable_zellij-new-branch-tab.sh
Due: shfmt-check, shellcheck

feat: pr-review-handlerスキルを追加
  home/dot_claude/commands/resolve-review.md
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pr-review-handler/references/github_api.md
  home/dot_claude/skills/pr-review-handler/references/workflow.md
  home/dot_claude/skills/pr-review-handler/scripts/get_unresolved_reviews.sh
  home/dot_claude/skills/pr-review-handler/scripts/resolve_thread.sh
Due: prettier-check, shfmt-check, shellcheck

feat: gphエイリアスを追加
  home/dot_zsh.d/aliases.zsh
Due: shfmt-check, shellcheck

chore: git-worktree-runner completion - ref: https://github.com/coderabbitai/git-worktree-runner#shell-completions-optionalaa
  home/dot_zsh.d/completions/_git-gtr
  home/dot_zshrc
Due: none

feat: add /remove-ai-slop command
  .claude/commands/remove-ai-slop.md
Due: prettier-check

fix: use 'base branch' instead of 'main' in remove-ai-slop command
  .claude/commands/remove-ai-slop.md
Due: prettier-check

fix: create-pr内の冗長な確認プロセスを削除
  home/dot_claude/commands/create-pr.md
Due: prettier-check
