Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

prettier-check:
  run: npm run lint:prettier -- {staged_files}

shfmt-check:
  run: npm run lint:shfmt -- {staged_files}

shellcheck:
  run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

add 30days trash
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

feat(macos): improve Finder defaults
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

feat(agents): add agent-browser, grill-me, write-a-skill skills with Claude symlinks
  home/dot_agents/skills/agent-browser/SKILL.md
  home/dot_agents/skills/agent-browser/references/authentication.md
  home/dot_agents/skills/agent-browser/references/commands.md
  home/dot_agents/skills/agent-browser/references/profiling.md
  home/dot_agents/skills/agent-browser/references/proxy-support.md
  home/dot_agents/skills/agent-browser/references/session-management.md
  home/dot_agents/skills/agent-browser/references/snapshot-refs.md
  home/dot_agents/skills/agent-browser/references/video-recording.md
  home/dot_agents/skills/agent-browser/templates/authenticated-session.sh
  home/dot_agents/skills/agent-browser/templates/capture-workflow.sh
  home/dot_agents/skills/agent-browser/templates/form-automation.sh
  home/dot_agents/skills/grill-me/SKILL.md
  home/dot_agents/skills/write-a-skill/SKILL.md
  home/dot_claude/skills/symlink_agent-browser
  home/dot_claude/skills/symlink_grill-me
  home/dot_claude/skills/symlink_write-a-skill
Due: prettier-check, shfmt-check, shellcheck

feat(zsh): add chezmoi completion support
  home/dot_zsh.d/completions/_chezmoi
Due: none

chore: remove redundant get-reviews.sh from pr-review-handler
  home/dot_claude/skills/pr-review-handler/SKILL.md
Due: prettier-check

chore: deduplicate get-reviews.sh in pull-request-review
  home/dot_claude/skills/pull-request-review/SKILL.md
Due: prettier-check

rename: pull-request-review → review-pr, pr-review-handler → fix-review
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/fix-review/scripts/executable_get-review-threads.sh
  home/dot_claude/skills/fix-review/scripts/executable_get-reviews.sh
  home/dot_claude/skills/review-pr/SKILL.md
  home/dot_claude/skills/review-pr/review-guidelines.md
Due: prettier-check, shfmt-check, shellcheck

chore: sync unmanaged claude skills/hooks/scripts to chezmoi
  home/dot_claude/hooks/executable_textlint-md.sh
  home/dot_claude/scripts/executable_sync-skills.sh
  home/dot_claude/scripts/sync-skills.ts
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pr-review-handler/scripts/executable_get-review-threads.sh
  home/dot_claude/skills/symlink_context7-cli
Due: prettier-check, shfmt-check, shellcheck

fix: create-draft-pull-request skill の PR.md パス参照を統一
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
Due: prettier-check

fix: create-draft-pull-request skill の PR.md パス問題を修正
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_gitignore
Due: prettier-check

chore: remove ccstatusline config
  home/.chezmoiremove
  home/dot_config/ccstatusline/executable_repo-url.sh
  home/dot_config/ccstatusline/settings.json
Due: prettier-check, shfmt-check, shellcheck

feat: grootコマンドを追加 (#35)
  home/dot_zsh.d/functions/groot.zsh
Due: shfmt-check, shellcheck

add prw
  home/dot_config/mise/config.toml
Due: none

feat: add Brewfile for Homebrew package management
  home/dot_Brewfile
Due: none

revert(macos): remove startup chime muting from run_once script
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

chore(mise): vite-plus を削除
  home/dot_config/mise/config.toml
Due: none

update lock
  pnpm-lock.yaml
Due: prettier-check

update agent-browser skill
  home/dot_agents/skills/agent-browser/SKILL.md
  home/dot_agents/skills/agent-browser/templates/executable_authenticated-session.sh
  home/dot_agents/skills/agent-browser/templates/executable_capture-workflow.sh
  home/dot_agents/skills/agent-browser/templates/executable_form-automation.sh
Due: prettier-check, shfmt-check, shellcheck

fix(ghostty): フォント名を "Moralerspace Neon" に修正
  home/dot_config/ghostty/config
Due: none

migrate CLI tools from Homebrew to mise (#40)
  home/dot_Brewfile
  home/dot_config/mise/config.toml
Due: none

feat: add secretlint to prevent secrets from being committed (#39)
  .secretlintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier-check

docs(pr-skill): PR本文に実装詳細ではなく外部から見た振る舞いの変化を書くよう明示 (#41)
  home/dot_claude/skills/create-draft-pull-request/pull-request-message.md
Due: prettier-check

fix(skills): allowed-tools パターン修正と ${CLAUDE_SKILL_DIR} への統一 (#37)
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/review-pr/SKILL.md
  home/dot_claude/skills/review-pr/scripts/executable_get-review-threads.sh
Due: prettier-check, shfmt-check, shellcheck

feat(zoxide): --cmd cd で cd コマンドを置き換え (#38)
  home/dot_config/sheldon/plugins.toml
Due: none

fix(zsh): mise管理ツールのzsh補完を自動シンボリックリンクで解決
  home/dot_zsh.d/tools/mise.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

Add opencode abbr (oc)
  home/dot_zsh.d/abbreviations
Due: none

feat(zsh): carapace を導入してシェル補完を統合
  home/dot_config/mise/config.toml
  home/dot_config/sheldon/plugins.toml
Due: none

fix(zsh): fzf-tabをsheldon外から直接sourceしてロック競合を回避
  home/dot_zshrc
Due: none

chore(git): HTTPS→SSH書き換え設定を削除
  home/dot_gitconfig.tmpl
Due: none

feat(zsh): fzf-tabをsheldon経由で管理するよう戻す
  home/dot_config/sheldon/plugins.toml
  home/dot_zshrc
Due: none

chore(zsh): zsh-git-fzf を削除
  home/dot_config/sheldon/plugins.toml
Due: none

config: add ghq via mise with gitconfig setup
  home/dot_config/mise/config.toml
  home/dot_gitconfig.tmpl
Due: none

add glow
  home/dot_config/mise/config.toml
Due: none

feat(zsh): add repo function for ghq+fzf directory jumping
  home/dot_zsh.d/functions/ghq.zsh
Due: shfmt-check, shellcheck

Update ghq.zsh
  home/dot_zsh.d/functions/ghq.zsh
Due: shfmt-check, shellcheck

perf(zsh): defer zoxide init to reduce shell startup time
  home/dot_config/sheldon/plugins.toml
Due: none

update pnpm 11
  package.json
  pnpm-lock.yaml
Due: prettier-check

fix(skills): GH_HOSTのデフォルト値をgithub.comに変更
  home/dot_claude/skills/fix-review/scripts/executable_get-review-threads.sh
  home/dot_claude/skills/review-pr/scripts/executable_get-review-threads.sh
Due: shfmt-check, shellcheck

feat(zsh): switch repo preview to glow with tokyo-night theme
  home/dot_zsh.d/functions/ghq.zsh
Due: shfmt-check, shellcheck

Path conditions:
  prettier-check: any of: *.{json,yml,yaml,md}
  shfmt-check: any of: *.{sh,zsh,bash}
  shellcheck: any of: *.{sh,zsh,bash}
