Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

prettier-check:
  run: npm run lint:prettier -- {staged_files}

shfmt-check:
  run: npm run lint:shfmt -- {staged_files}

shellcheck:
  run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

fix(zsh): redraw the prompt after failed fzf directory jumps
  home/dot_zsh.d/fzf.zsh
Due: shfmt-check, shellcheck

.
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pr-review-handler/scripts/executable_get-reviews.sh
Due: prettier-check, shfmt-check, shellcheck

fix(create-draft-pull-request): move bash commands to scripts for permission handling
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/create-draft-pull-request/pull-request-message.md
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_check-branch.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_get-pr-style.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_push-and-create-pr.sh
Due: prettier-check, shfmt-check, shellcheck

remove safe-rm abbreviation to use native rm
  home/dot_zsh.d/abbreviations
Due: none

fix(git-commit): use interpreter-based allowed-tools and Base Path for script resolution
  home/dot_claude/skills/git-commit/SKILL.md
Due: prettier-check

fix: pre-compact hook esm error
  home/dot_claude/hooks/executable_pre-compact.js
Due: none

feat(lazygit): template GH_HOST support for GitHub Enterprise
  home/dot_config/lazygit/config.yml.tmpl
Due: none

Add vr abbreviation for vp run
  home/dot_zsh.d/abbreviations
Due: none

feat(zsh): register abbreviations as regular aliases for pre-expansion fallback
  home/dot_zsh.d/utils.zsh
Due: shfmt-check, shellcheck

revert: remove unnecessary alias registration from utils.zsh
  home/dot_zsh.d/utils.zsh
Due: shfmt-check, shellcheck

feat: Enterキー(↵)をプロンプトに表示
  home/dot_config/starship.toml
Due: none

chore(starship): remove unused modules and tune timeout
  home/dot_config/starship.toml
Due: none

fix(starship): restore rounded corner separators
  home/dot_config/starship.toml
Due: none

fix(starship): restore removed nerd font icons
  home/dot_config/starship.toml
Due: none

chore(starship): remove unused modules and tune timeout (#19)
  home/dot_config/starship.toml
Due: none

Load Vite+ environment in dev-tools.zsh
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

abbr `vr`: `vp run`
  home/dot_zsh.d/abbreviations
Due: none

feat: add chza abbreviation for chezmoi apply
  home/dot_zsh.d/abbreviations
Due: none

feat: add pre-commit hook to warn on chezmoi file deletions
  lefthook.yml
  scripts/check-chezmoi-deletions.sh
Due: prettier-check, shfmt-check, shellcheck

refactor: rewrite chezmoi deletion check in TypeScript (Bun)
  lefthook.yml
  scripts/check-chezmoi-deletions.sh
  scripts/check-chezmoi-deletions.ts
Due: prettier-check, shfmt-check, shellcheck

fix ccstatusline
  home/dot_config/ccstatusline/settings.json
Due: prettier-check

fix skills
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_claude/skills/create-draft-pull-request/assets/.textlintrc
  home/dot_claude/skills/create-draft-pull-request/scripts/analyze-pr-context.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/create-pr.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_fix-textlint.sh
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/git-commit/SKILL.md
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pull-request-review/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
Due: prettier-check, shfmt-check, shellcheck

feat: enable Claude Code no-flicker feature
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

feat: enable no-flicker (prefersReducedMotion) in Claude Code settings
  home/dot_claude/settings.example.json
  home/dot_zsh.d/dev-tools.zsh
Due: prettier-check, shfmt-check, shellcheck

feat: enable no-flicker via env field in Claude Code settings
  home/dot_claude/settings.example.json
Due: prettier-check

feat: enable Claude Code no-flicker feature (#21)
  home/dot_claude/settings.example.json
Due: prettier-check

feat: disable Claude auto memory
  home/dot_claude/settings.json
Due: prettier-check

revert: remove settings.json from dotfiles
  home/dot_claude/settings.json
Due: prettier-check

Update settings.example.json
  home/dot_claude/settings.example.json
Due: prettier-check

feat: disable Claude auto memory (#22)
  home/dot_claude/settings.example.json
Due: prettier-check

perf: replace Starship with Pure for faster prompt rendering
  home/.chezmoiremove
  home/dot_config/sheldon/plugins.toml
  home/dot_config/starship.toml
  home/dot_zshrc
Due: none

feat: integrate shfmt (mvdan/sh) for shell script formatting
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_claude/hooks/executable_notify.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/analyze-pr-context.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/create-pr.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_fix-textlint.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_get-pr-style.sh
  home/dot_claude/skills/create-draft-pull-request/scripts/executable_push-and-create-pr.sh
  home/dot_claude/skills/document-writing/scripts/executable_check_document.sh
  home/dot_claude/skills/git-commit/scripts/analyze-git-diff.sh
  home/dot_claude/skills/pr-review-handler/scripts/executable_get-reviews.sh
  home/dot_claude/skills/pull-request-review/scripts/executable_get-reviews.sh
  home/dot_claude/skills/resolve-conflict/scripts/analyze-conflict.sh
  home/dot_config/ccstatusline/executable_repo-url.sh
  home/dot_config/raycast/scripts/executable_markdown-lint-fix.sh
  lefthook.yml
Due: prettier-check, shfmt-check, shellcheck

feat: extend shfmt to cover .zsh files
  home/dot_zsh.d/dev-tools.zsh
  home/dot_zsh.d/fzf.zsh
  home/dot_zsh.d/path.zsh
  home/dot_zsh.d/utils.zsh
  lefthook.yml
Due: prettier-check, shfmt-check, shellcheck

feat: install vite-plus and configure fmt and staged hooks
  package-lock.json
  package.json
  vite.config.ts
Due: prettier-check

refactor: migrate from npm to pnpm, move staged hook to lefthook
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: prettier-check

Path conditions:
  prettier-check: any of: *.{json,yml,yaml,md}
  shfmt-check: any of: *.{sh,zsh,bash}
  shellcheck: any of: *.{sh,zsh,bash}
