Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-push:
  jobs:
    - name: check chezmoi diff
      run: |
        diff_output=$(chezmoi diff --no-pager)
        if [ -n "$diff_output" ]; then
          echo "$diff_output"
          echo ""
          echo "❌ Error: There are unapplied chezmoi changes. Please run 'chezmoi apply' first."
          exit 1
        fi

pre-commit:
  parallel: true
  commands:
    prettier-check:
      glob: "*.{json,yml,yaml,md}"
      run: npm run lint:prettier -- {staged_files}
    shfmt-check:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shfmt -- {staged_files}
    shellcheck:
      glob: "*.{sh,zsh,bash}"
      run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

chore: use vp directly in lefthook instead of pnpm exec
  lefthook.yml
Due: prettier-check

chore: update vp check glob to match project extensions
  lefthook.yml
Due: prettier-check

chore: add yml/yaml to vp check glob, bump pnpm to 10.33.0
  lefthook.yml
  package.json
Due: prettier-check

chore: reformat package.json (vp fmt)
  package.json
Due: prettier-check

chore: remove PATH workaround from lefthook vp check job
  lefthook.yml
Due: prettier-check

style: apply vp fmt
  .claude/skills/chezmoi/SKILL.md
  AGENTS.md
  home/dot_claude/hooks/executable_pre-compact.js
  home/dot_claude/hooks/executable_suggest-compact.js
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/git-commit/commit-message.md
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pull-request-review/review-guidelines.md
  home/dot_claude/skills/strategic-compact/SKILL.md
  home/dot_config/ccstatusline/settings.json
  home/dot_config/sheldon/plugins.toml
Due: prettier-check

feat: markdownlint-cli2を導入
  .markdownlint-cli2.jsonc
  home/dot_claude/skills/pr-review-handler/SKILL.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier-check

fix: chezmoi SKILL.mdのMD040違反を修正
  .claude/skills/chezmoi/SKILL.md
Due: prettier-check

Add pnpm version pinning rules
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier-check

Fix pnpm version pinning: save-exact in workspace, remove catalog
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier-check

Remove comment from pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier-check

Add bat config with Dracula theme
  home/dot_config/bat/config
Due: none

Add ripgrep config and set RIPGREP_CONFIG_PATH
  home/dot_config/ripgrep/rc
  home/dot_zsh.d/dev-tools.zsh
Due: shfmt-check, shellcheck

refactor(zsh): reorganize config into core/, tools/, functions/ directories
  home/dot_zsh.d/core/env.zsh
  home/dot_zsh.d/core/path.zsh
  home/dot_zsh.d/dev-tools.zsh
  home/dot_zsh.d/functions/git.zsh
  home/dot_zsh.d/functions/notify.zsh
  home/dot_zsh.d/tools/docker.zsh
  home/dot_zsh.d/tools/fzf.zsh
  home/dot_zsh.d/tools/proto.zsh
  home/dot_zsh.d/tools/vite-plus.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

simplify(zsh): remove redundant comments, fix glob null safety and bracket style
  home/dot_zsh.d/core/env.zsh
  home/dot_zsh.d/tools/docker.zsh
  home/dot_zsh.d/tools/vite-plus.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

chore(zsh): add chezmoi remove files for deleted flat configs
  home/dot_zsh.d/remove_dev-tools.zsh
  home/dot_zsh.d/remove_fzf.zsh
  home/dot_zsh.d/remove_path.zsh
  home/dot_zsh.d/remove_utils.zsh
Due: shfmt-check, shellcheck

chore(zsh): replace remove_ files with .chezmoiremove
  home/dot_zsh.d/.chezmoiremove
  home/dot_zsh.d/remove_dev-tools.zsh
  home/dot_zsh.d/remove_fzf.zsh
  home/dot_zsh.d/remove_path.zsh
  home/dot_zsh.d/remove_utils.zsh
Due: shfmt-check, shellcheck

fix(notify): use (( )) for numeric check and \$* for full command string
  home/dot_zsh.d/functions/notify.zsh
Due: shfmt-check, shellcheck

perf(zsh): optimize sheldon startup by deferring heavy plugins and caching proto activate
  home/dot_config/sheldon/plugins.toml
  home/dot_zsh.d/tools/proto.zsh
Due: shfmt-check, shellcheck

revert: proto.zsh - revert proto activate caching
  home/dot_zsh.d/tools/proto.zsh
Due: shfmt-check, shellcheck

chore(sheldon): remove redundant inline comment
  home/dot_config/sheldon/plugins.toml
Due: none

perf(zsh): defer heavy sheldon plugins to speed up startup (#30)
  home/dot_config/sheldon/plugins.toml
Due: none

perf(zsh): defer proto activation to speed up shell startup
  home/dot_zshrc
Due: none

fix(zsh): move PROTO_AUTO_INSTALL to env.zsh for synchronous export
  home/dot_zsh.d/core/env.zsh
  home/dot_zsh.d/tools/proto.zsh
Due: shfmt-check, shellcheck

migrate: proto から mise へ移行
  home/dot_zsh.d/core/path.zsh
  home/dot_zsh.d/tools/.chezmoiremove
  home/dot_zsh.d/tools/mise.zsh
  home/dot_zsh.d/tools/proto.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

feat: mise グローバルツール設定を追加
  home/dot_config/mise/config.toml
Due: none

fix: node を latest から lts に変更
  home/dot_config/mise/config.toml
Due: none

fix: ツールバージョンを具体的なバージョン番号に変更
  home/dot_config/mise/config.toml
Due: none

revert: グローバルツールバージョンを lts/latest に戻す
  home/dot_config/mise/config.toml
Due: none

feat: mise の idiomatic_version_files と auto_install を有効化
  home/dot_config/mise/config.toml
Due: none

feat: mise グローバルツールに pnpm を追加
  home/dot_config/mise/config.toml
Due: none

migrate: proto から mise へ移行 (#32)
  home/dot_config/mise/config.toml
  home/dot_zsh.d/core/path.zsh
  home/dot_zsh.d/tools/.chezmoiremove
  home/dot_zsh.d/tools/mise.zsh
  home/dot_zsh.d/tools/proto.zsh
  home/dot_zshrc
Due: shfmt-check, shellcheck

feat: add mdcd function to create and cd into directory
  home/dot_zsh.d/functions/utils.zsh
Due: shfmt-check, shellcheck

feat: add mdcd function to create and cd into directory (#34)
  home/dot_zsh.d/functions/utils.zsh
Due: shfmt-check, shellcheck

feat: grootコマンドを追加
  home/dot_zsh.d/functions/groot.zsh
Due: shfmt-check, shellcheck

fix: grootをgit rootに移動するコマンドに修正
  home/dot_zsh.d/functions/groot.zsh
Due: shfmt-check, shellcheck

feat(macos): add run_once script for macOS defaults
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

fix(mise): correct config key from idiomatic_version_files to idiomatic_version_file
  home/dot_config/mise/config.toml
Due: none

feat(mise): add fd, eza, lazygit tools
  home/dot_config/mise/config.toml
Due: none

feat(git): configure SSH for GitHub
  home/dot_gitconfig.tmpl
Due: none
