Repository nyatinte/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-check, shfmt-check, shellcheck

prettier-check:
  run: npm run lint:prettier -- {staged_files}

shfmt-check:
  run: npm run lint:shfmt -- {staged_files}

shellcheck:
  run: npm run lint:shellcheck -- {staged_files} || echo "⚠️  shellcheck not found, skipping lint check"

add fzf
  home/dot_config/mise/config.toml
Due: none

feat(statusline): custom status line with git & cost tracking
  home/dot_claude/statusline-command.sh
Due: shfmt-check, shellcheck

feat(macos): add hot corner to show desktop on bottom-right
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

fix(statusline): add ANSI colors (cyan model, magenta branch, dim ctx/cost)
  home/dot_claude/statusline-command.sh
Due: shfmt-check, shellcheck

feat(fonts): add Moralerspace font management via chezmoi external
  home/.chezmoiexternal.toml
Due: none

feat(fonts): add M PLUS 1p font management via chezmoi external
  home/.chezmoiexternal.toml
Due: none

fix: correct mise npm package_manager setting key
  home/dot_config/mise/config.toml
Due: none

feat: use pnpm as mise npm installer
  home/dot_config/mise/config.toml
Due: none

feat: add @antfu/ni and textlint packages via mise
  home/.chezmoiscripts/run_once_install-global-textlint.sh
  home/dot_config/mise/config.toml
Due: shfmt-check, shellcheck

feat: add CLI tools via mise npm packages
  home/dot_config/mise/config.toml
Due: none

feat: add install_before = "1d" for supply chain safety
  home/dot_config/mise/config.toml
Due: none

fix: use correct vite-plus package name
  home/dot_config/mise/config.toml
Due: none

feat: add CLI tools and npm settings to mise config (#33)
  home/dot_config/mise/config.toml
Due: none

feat(zsh): add za abbreviation for zoxide add .
  home/dot_zsh.d/abbreviations
Due: none

feat(zsh): add chezmoi completion support
  home/dot_zsh.d/completions/_chezmoi
Due: none

feat(agents): add agent-browser, grill-me, write-a-skill skills with Claude symlinks
  home/dot_agents/skills/agent-browser/SKILL.md
  home/dot_agents/skills/agent-browser/references/authentication.md
  home/dot_agents/skills/agent-browser/references/commands.md
  home/dot_agents/skills/agent-browser/references/profiling.md
  home/dot_agents/skills/agent-browser/references/proxy-support.md
  home/dot_agents/skills/agent-browser/references/session-management.md
  home/dot_agents/skills/agent-browser/references/snapshot-refs.md
  home/dot_agents/skills/agent-browser/references/video-recording.md
  home/dot_agents/skills/agent-browser/templates/authenticated-session.sh
  home/dot_agents/skills/agent-browser/templates/capture-workflow.sh
  home/dot_agents/skills/agent-browser/templates/form-automation.sh
  home/dot_agents/skills/grill-me/SKILL.md
  home/dot_agents/skills/write-a-skill/SKILL.md
  home/dot_claude/skills/symlink_agent-browser
  home/dot_claude/skills/symlink_grill-me
  home/dot_claude/skills/symlink_write-a-skill
Due: prettier-check, shfmt-check, shellcheck

add 30days trash
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

feat(macos): mute startup chime
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

feat(macos): improve Finder defaults
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

docs: expand AGENTS.md with comprehensive repository documentation
  AGENTS.md
Due: prettier-check

fix: groot - git repo外でのエラーハンドリングを追加
  home/dot_zsh.d/functions/groot.zsh
Due: shfmt-check, shellcheck

chore: sync unmanaged claude skills/hooks/scripts to chezmoi
  home/dot_claude/hooks/executable_textlint-md.sh
  home/dot_claude/scripts/executable_sync-skills.sh
  home/dot_claude/scripts/sync-skills.ts
  home/dot_claude/skills/pr-review-handler/SKILL.md
  home/dot_claude/skills/pr-review-handler/scripts/executable_get-review-threads.sh
  home/dot_claude/skills/symlink_context7-cli
Due: prettier-check, shfmt-check, shellcheck

chore: remove redundant get-reviews.sh from pr-review-handler
  home/dot_claude/skills/pr-review-handler/SKILL.md
Due: prettier-check

chore: deduplicate get-reviews.sh in pull-request-review
  home/dot_claude/skills/pull-request-review/SKILL.md
Due: prettier-check

rename: pull-request-review → review-pr, pr-review-handler → fix-review
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/fix-review/scripts/executable_get-review-threads.sh
  home/dot_claude/skills/fix-review/scripts/executable_get-reviews.sh
  home/dot_claude/skills/review-pr/SKILL.md
  home/dot_claude/skills/review-pr/review-guidelines.md
Due: prettier-check, shfmt-check, shellcheck

fix: create-draft-pull-request skill の PR.md パス問題を修正
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
  home/dot_gitignore
Due: prettier-check

fix: create-draft-pull-request skill の PR.md パス参照を統一
  home/dot_claude/skills/create-draft-pull-request/SKILL.md
Due: prettier-check

chore: remove ccstatusline config
  home/.chezmoiremove
  home/dot_config/ccstatusline/executable_repo-url.sh
  home/dot_config/ccstatusline/settings.json
Due: prettier-check, shfmt-check, shellcheck

revert(macos): remove startup chime muting from run_once script
  home/.chezmoiscripts/run_once_set-macos-defaults.sh
Due: shfmt-check, shellcheck

feat: add Brewfile for Homebrew package management
  home/dot_Brewfile
Due: none

feat: grootコマンドを追加 (#35)
  home/dot_zsh.d/functions/groot.zsh
Due: shfmt-check, shellcheck

add prw
  home/dot_config/mise/config.toml
Due: none

update lock
  pnpm-lock.yaml
Due: prettier-check

update agent-browser skill
  home/dot_agents/skills/agent-browser/SKILL.md
  home/dot_agents/skills/agent-browser/templates/executable_authenticated-session.sh
  home/dot_agents/skills/agent-browser/templates/executable_capture-workflow.sh
  home/dot_agents/skills/agent-browser/templates/executable_form-automation.sh
Due: prettier-check, shfmt-check, shellcheck

chore(mise): vite-plus を削除
  home/dot_config/mise/config.toml
Due: none

fix(ghostty): フォント名を "Moralerspace Neon" に修正
  home/dot_config/ghostty/config
Due: none

fix(git-commit): allowed-tools に Bash(sh *) を追加
  home/dot_claude/skills/git-commit/SKILL.md
Due: prettier-check

fix(git-commit): sh の allowed-tools パターンを修正
  home/dot_claude/skills/git-commit/SKILL.md
Due: prettier-check

fix(skills): 全スキルの allowed-tools パスパターンを修正
  home/dot_claude/skills/document-writing/SKILL.md
  home/dot_claude/skills/fix-review/SKILL.md
  home/dot_claude/skills/resolve-conflict/SKILL.md
  home/dot_claude/skills/review-pr/SKILL.md
Due: prettier-check

Path conditions:
  prettier-check: any of: *.{json,yml,yaml,md}
  shfmt-check: any of: *.{sh,zsh,bash}
  shellcheck: any of: *.{sh,zsh,bash}
